// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

// Commons
@import 'commons';

// Partials Admin
@import './partials/users/_show';
@import './partials/users/_edit';
